/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {clear: both;font-size:13px;font-weight:bold;}
a.page{display:block;float:left;}
a.larger{display:block;float:left;}
.wp-pagenavi a {float:left;display:block;text-decoration: none;border: 1px solid #EAEAEA;background-color:#EAEAEA;padding: 5px;margin: 2px;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;}
.wp-pagenavi a:hover, .wp-pagenavi span.current {border-color: #2D8CB0;	background-color:#2D8CB0;color:#fff;}
.wp-pagenavi span.pages {text-decoration: none;background-color:#ddd;padding: 5px;margin: 2px;color:#000;display:block;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;}
.wp-pagenavi span.current {text-decoration: none;font-weight: bold;border: 1px solid #DDDDDD;background-color:#DDDDDD;color:#666;	padding: 5px;margin: 2px;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;float:left;}
.extend{float:left;}