/*   
Theme Name: Ing. Informatica
Theme URI: http://www.eapi.info
Description: Theme html5 para ingenieria informatica
Author: Team +iDev
Author URI: http://masidev.com
Version: 1.0
*/

/* GENERAL THEME 
body{padding-top: 60px;}
*/
.cat-item{margin-left:-15px;margin-bottom:3px;list-style: none;padding:3px 3px 3px 10px;background: #ade4f4;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
.cat-item a{color:#023F80;}
.cat-item:hover{background: #2065AF;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
.cat-item:hover a{color:#fff;text-decoration: none;}
/* COMMENTS */
ol.commentlist {margin:0;padding:0;width:100%;list-style: none;float:left;}
ol.commentlist li.comment {margin:0 0 10px 0;padding:10px;width:95%;font-size:13px;color:#666666;line-height:15px;border: 1px solid #ccc;float:left;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;}
ol.commentlist li.pingback {margin:0 0 10px 0;padding:10px;width:95%;font-size:13px;color:#666666;line-height:15px;border: 1px solid #ccc;float:left;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;}
ol.commentlist li.comment div.comment-author {margin:0;padding:0;color:#8d633b;font-weight:bold;font-size:13px;line-height:14px;}
ol.commentlist li.comment div.comment-author a {}
ol.commentlist li.comment div.vcard cite.fn {font-style: normal;}
ol.commentlist li.comment div.vcard img.avatar {float:left;margin: 0 10px 10px 0;}
ol.commentlist li.comment div.vcard span.says {font-weight:normal;}
ol.commentlist li.comment div.comment-meta {margin:0;padding:0;font-size: 10px;}
ol.commentlist li.comment div.comment-meta a {color: #B7B7B7;}
ol.commentlist li.comment div.reply {font-size: 11px;float:right;}
ol.commentlist li.pingback div.reply {display:none;}
ol.commentlist li.comment div.reply a {margin:0;padding:4px 12px 4px 12px;color:#fff;font-weight: bold;background:#999;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
ol.commentlist li.comment div.reply a:hover {background:#666;text-decoration:none;}
ol.commentlist li.comment ul.children {list-style: none;margin: 10px 0 0;width:85%;float:left;}
ol.commentlist li.comment ul.children li.comment {width:95%;overflow:hidden; }
ol.commentlist li.comment ul.children li.depth-2 {border-left: 2px solid #ccc;margin: 0 0 10px 10px;}
ol.commentlist li.comment ul.children li.depth-3 {border-left: 2px solid #ccc;margin: 0 0 10px 10px;}
ol.commentlist li.comment ul.children li.depth-4 {border-left: 2px solid #ccc;margin: 0 0 10px 10px;}
ol.commentlist li.even {background: #fff;}
ol.commentlist li.odd {background: #fff;}

/*comentarios del autor del post*/
ol.commentlist li.bypostauthor {background: #f6f6f6;border:1px solid #F2ECF2;}
ol.commentlist li.bypostauthor div.comment-author {color:#8d633b;font-weight:bold;font-style:italic;}
#respond {margin:0 0 10px 0;padding:5px 0 5px 0;width:95%;background:#fff;float:left;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.com_title {margin:0 0 5px 0;padding:0 0 7px 6px;width:98%;font-size:25px;border-bottom:1px solid #ccc;color:#999;float:left; }
.com_warn {margin:0 0 5px 0;padding:5px;width:96%;font-size:12px;color:#C19200;background:#FFFFBA;float:left;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px; }
.com_warn a {color:#C19200;font-weight:bold;}
.box_smileys {margin:2px 0 0 0;padding:0 0 0 10px;width:98%;float:left;}
.wp-smiley-select {margin:0;padding:0;float:left;}
.com_label {margin:0 20px 4px 0;padding:0;font-size:11px;color:#666;text-transform:uppercase;font-weight:bold;float:left; }
.com_user {margin:5px 0 5px 3px;padding:0 10px 0 30px;width:280px;height:30px;overflow:hidden;line-height:32px;font-size:12px;color:#999;background:#fff url(images/buddy.png) 7px 7px no-repeat;border:1px solid #ccc;float:left;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.com_email {margin:5px 0 5px 6px;padding:0 10px 0 30px;width:280px;height:30px;overflow:hidden;line-height:32px;font-size:12px;color:#999;background:#fff url(images/email.png) 7px 7px no-repeat;border:1px solid #ccc;float:left;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.com_comment {margin:0 0 5px 3px;padding:10px;width:630px;height:72px;font-size:12px;color:#999;background:#fff;border:1px solid #ccc;float:left;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.com_send {margin:3px 10px 0 0;padding:0;width:180px;height:34px;overflow:hidden;line-height:35px;text-align:center;font-size:13px;color:#fff;font-weight:bold;border:none;cursor:pointer;background:#8d633b;float:right;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.com_send:hover {background:#666;}

/*Wordpress Defaul Alignments*/
.entry-content img {margin: 0 0 1.5em 0;}
.alignleft, img.alignleft {margin-right: 1.5em;display: inline;float: left;}
.alignright, img.alignright {margin-left: 1.5em;display: inline;float: right;}
.aligncenter, img.aligncenter {margin-right: auto;margin-left: auto;display: block;clear: both;}
.alignnone, img.alignnone {/* not sure about this one */ }
.wp-caption {margin-bottom: 1.5em;text-align: center;padding-top: 5px;}
.wp-caption img {border: 0 none;padding: 0;margin: 0;}
.wp-caption p.wp-caption-text {line-height: 1.5;font-size: 10px;margin: 0;}
.wp-smiley {margin: 0 !important;max-height: 1em;}
blockquote.left {margin-right: 20px;text-align: right;margin-left: 0;width: 33%;float: left;}
blockquote.right {margin-left: 20px;text-align: left;margin-right: 0;width: 33%;float: right;}
 /* END screen media */
